name: CI workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: eclipse-temurin:21-jdk-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: '3.9.6'

      - name: Build and install with Maven
        run: mvn clean install

      - name: Run checkstyle
        run: mvn checkstyle:check
        
      - name: Run tests with Jacoco
        run: mvn test jacoco:report